@media only screen and (max-width: 400px){
    .menu{
        height: 220px !important;
    }
    .menu h1{
        top: 50% !important;
        left: 25% !important;
        font-size: 40px !important;
      }
    .logo{
        width: 250px !important;
    }

    h5{
        font-size: 20px;
    }

    p{
        font-size: 12px;
    }
}